<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XDeg</title>
  </head>
  <body>
    <h2>Genera tu plan ideal:</h2>
    <form action="/plan" method="post">
      <label> Destinación: </label>
      <select name="tp_destination" id="tp_destination" size="1" required>
        <option selected disabled>-- Escoger destinación --</option>
        <option value="barcelona">Barcelona</option>
        <option value="paris">París</option>
        <option value="london">Londres</option>
        <option value="rome">Roma</option>
      </select>
      <br />
      <br />

      <label> Número de personas: </label>
      <select name="tp_people" id="tp_people" size="1">
        <option selected disabled>-- Selecciona número de personas: --</option>
        <option value="1">1 persona</option>
        <option value="2">2 personas</option>
        <option value="3">3 personas</option>
        <option value="4">4 personas</option>
        <option value="+4">Más de 4 personas</option>
      </select>
      <br />
      <br />

      <label for="dateIni">Fecha de inicio: </label>
      <input type="date" name="dateIni" id="dateIni" />
      <br />
      <br />
      <label for="dateEnd">Fecha de vuelta: </label>
      <input type="date" name="dateEnd" id="dateEnd" required />
      <br />
      <h4>Escoger transporte:</h4>
      <ul>
        <li>
          <input type="checkbox" name="tp_bus" id="tp_bus" checked />
          <label for="tp_bus">Autobús</label>
        </li>
        <li>
          <input type="checkbox" name="tp_plane" id="tp_plane" checked />
          <label for="tp_plane">Avión</label>
        </li>
        <li>
          <input type="checkbox" name="tp_train" id="tp_train" checked />
          <label for="tp_train">Tren</label>
        </li>
        <li>
          <input type="checkbox" name="tp_ferry" id="tp_ferry" checked />
          <label for="tp_ferry">Ferry</label>
        </li>
      </ul>

      <h4>Escoger alojamiento:</h4>
      <ul>
        <li>
          <input type="checkbox" name="al_hotel" id="al_hotel" checked />
          <label for="al_hotel">Hotel</label>
        </li>
        <li>
          <input
            type="checkbox"
            name="al_apartamento"
            id="al_apartamento"
            checked
          />
          <label for="al_apartamento">Apartamento</label>
        </li>
        <li>
          <input
            type="checkbox"
            name="al_casa_rural"
            id="al_casa_rural"
            checked
          />
          <label for="al_casa_rural">Casa rural</label>
        </li>
        <li>
          <input type="checkbox" name="al_camping" id="al_camping" checked />
          <label for="al_camping">Camping</label>
        </li>
        <li>
          <input type="checkbox" name="al_deg" id="al_deg" checked />
          <label for="al_deg">xDeg (exclusivo)</label>
        </li>
      </ul>

      <label> Calificación mínima del alojamiento </label>
      <select name="estrellas" id="estrellas" size="1" required>
        <option selected disabled>-- Selecciona número de estrellas: --</option>
        <option value="1">⭐</option>
        <option value="2">⭐⭐</option>
        <option value="3">⭐⭐⭐</option>
        <option value="4">⭐⭐⭐⭐</option>
        <option value="5">⭐⭐⭐⭐⭐</option>
      </select>

      <br />
      <br />
      <label for="presupost">Presupuesto:</label>
      <input type="number" name="presupost" id="presupost" />
      <label for="presupost"> € </label>
      <br />
      <br />
      <button type="submit">Buscar</button>
    </form>
  </body>
</html>
