<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XDeg</title>
  </head>
  <body>
    <h2>Generate the best plan for you:</h2>
    <form action="/plan" method="post">
      <label> Destination: </label>
      <select name="tp_destination" id="tp_destination" size="1">
        <option selected disabled>-- Select Destination --</option>
        <option value="barcelona">Barcelona</option>
        <option value="paris">Paris</option>
        <option value="london">London</option>
        <option value="rome">Rome</option>
      </select>
      <br />
      <br />

      <label> People: </label>
      <select name="tp_people" id="tp_people" size="1">
        <option selected disabled>-- Select Number of people --</option>
        <option value="1">1 person</option>
        <option value="2">2 people</option>
        <option value="3">3 people</option>
        <option value="4">4 people</option>
        <option value="+4">More than 4 people</option>
      </select>
      <br />
      <br />

      <label for="dateIni">Date Ini: </label>
      <input type="date" name="dateIni" id="dateIni" />
      <br />
      <label for="dateEnd">Date End: </label>
      <input type="date" name="dateEnd" id="dateEnd" />
      <br />
      <h4>Choose Transport:</h4>
      <ul>
        <li>
          <input type="checkbox" name="tp_bus" id="tp_bus" checked />
          <label for="tp_bus">Bus</label>
        </li>
        <li>
          <input type="checkbox" name="tp_plane" id="tp_plane" checked />
          <label for="tp_plane">Plane</label>
        </li>
        <li>
          <input type="checkbox" name="tp_train" id="tp_train" checked />
          <label for="tp_train">Train</label>
        </li>
        <li>
          <input type="checkbox" name="tp_ferry" id="tp_ferry" checked />
          <label for="tp_ferry">Ferry</label>
        </li>
      </ul>
      <h4>Choose Activity Types:</h4>
      <ul>
        <li>
          <input type="checkbox" name="ac_cult" id="ac_cult" checked />
          <label for="ac_cult">Cultural</label>
        </li>
        <li>
          <input type="checkbox" name="ac_ludic" id="ac_ludic" checked />
          <label for="ac_ludic">Ludic</label>
        </li>
        <li>
          <input type="checkbox" name="ac_fest" id="ac_fest" checked />
          <label for="ac_fest">Festive</label>
        </li>
      </ul>
      <label for="presupost">Budget</label>
      <input type="number" name="presupost" id="presupost" />
      <label for="presupost"> € </label>
      <br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
